.notification {
  color: #c00;
  padding: 20px;
  background-color: rgba(205, 207, 211, 0.09);
  display: block;
  margin-bottom: 20px;
  position: absolute;
  bottom: calc(100% + 20px);
  left: 0;
}
