.notification {
  color: #c00;
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 20px;
  background-color: rgba(205, 207, 211, 0.09);
  text-align: center;
  display: inline-block;
}
